body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: navy;
}

#container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
}

#animal-img {
}